<h1>Make a Payment</h1>
<hr class="my-4">
<div ng-show="selectedUser === null">
  <form class="row" ng-submit="selectUser(userToPay, paymentAmt); enterPaymentInfo = true">
    <div class="form-group col-xs-12">
      <div class="row">
        <div class="col-xs-9 col-sm-8"><p>Select a user to pay:</p></div>
      </div>
      <div class="row">
        <div class="col-xs-9 col-sm-8">
        <input type="text" class="form-control" name="userToPay" placeholder="Begin typing..." ng-model="userToPay" uib-typeahead="user as user.username for user in users | filter:$viewValue | limitTo:5">
        </div>
      </div>
    </div>
    <div class="form-group col-xs-12">
      <div class="row">
        <div class="col-xs-9 col-sm-8"><p>Enter payment amount:</p></div>
      </div>
      <div class="row">
        <div class="col-xs-9 col-sm-8">
        <input type="number" step="any" class="form-control" name="paymentAmt" placeholder="$" ng-model="paymentAmt" />
        </div>
      </div>
      <div class="row">
        <div class="col-xs-3 col-sm-2">
        <input class="form-control btn btn-primary" type="submit" value="Next" ng-disabled="userToPay.username === undefined || paymentAmt === undefined">
        </div>
      </div>
    </div>
  </form>
</div>

<div ng-show="enterPaymentInfo === true">
  <div class="row col-xs-12"><h3>Paying <strong>${{amountString}}</strong> to <strong>{{selectedUser.username}}</strong>.</h3></div>

    <form class="row" ng-show="savedPayments.length !== 0">
      <div class="form-group col-xs-12">
        <div class="row">
          <div class="col-xs-9 col-sm-8"><p>Select from saved payment options:</p></div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-8">
            <select ng-model="savedPaymentChoice">
              <option ng-repeat="payment in savedPayments">{{payment.name}}</option>
            </select>
          </div>
        </div>
      </div>
    </form>

    <form class="row" ng-submit="prepPayment()">
      <div class="form-group col-xs-12">
        <div class="row">
          <div class="col-xs-9 col-sm-8"><p>Enter payment information:</p></div>
        </div>
        <div class="row">
          <div class="col-xs-4">Card #:</div>
          <div class="col-xs-8">
            <input type="text" class="form-control" name="card-number" ng-model="cardNumber" />
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4">CVV #:</div>
          <div class="col-xs-4">
            <input type="text" class="form-control" name="cvv-number" ng-model="cvvNumber" />
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4">Name on Card:</div>
          <div class="col-xs-8">
            <input type="text" class="form-control" name="card-name" ng-model="cardName" />
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4">Address 1:</div>
          <div class="col-xs-8">
            <input type="text" class="form-control" name="address-1" ng-model="address1" />
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4">Address 2:</div>
          <div class="col-xs-8">
            <input type="text" class="form-control" name="address-2" ng-model="address2" />
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4">City:</div>
          <div class="col-xs-8">
            <input type="text" class="form-control" name="city-name" ng-model="cityName" />
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4">State:</div>
          <div class="col-xs-4">
            <input type="text" class="form-control" name="state" ng-model="stateName"/>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4">Zip:</div>
          <div class="col-xs-4">
            <input type="text" class="form-control" name="zip-code" ng-model="zipCode" />
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 checkbox">
            <label><input type="checkbox" id="save-card" value="save_card" ng-model="saveCard" ng-click="paymentSaveName = ''">
            Save this payment info for later.</label>
          </div>
        </div>
        <div class="row" ng-show="saveCard">
          <div class="col-xs-4">Name:</div>
          <div class="col-xs-8">
            <input type="text" class="form-control" name="payment-save-name" ng-model="paymentSaveName" />
          </div>
        </div>
      <div class="row">
        <div class="col-xs-12">
        <button type="button" class="btn btn-primary" value="Back" ng-click="enterPaymentInfo = false; selectedUser = null">Back</button>
        <input class="btn btn-primary pull-right" type="submit" value="Next">
        </div>
      </div>
      </div>
    </form>
  </div>

  <div ng-show="paymentInfoReady === true">
    <div class="row col-xs-12"><h3>Paying <strong>${{amountString}}</strong> to <strong>{{selectedUser.username}}</strong>.</h3></div>
    <div class="row col-xs-12"><h5>Confirm payment info:</h5></div>
    <div class="row">
      <div class="col-xs-4">Card Number:</div>
      <div class="col-xs-8"><strong>XXXX-XXXX-XXXX-{{cardNumber.substring(cardNumber.length - 4, cardNumber.length)}}</strong></div>
    </div>
    <div class="row">
      <div class="col-xs-4">CVV:</div>
      <div class="col-xs-8"><strong>{{cvvNumber}}</strong></div>
    </div>
    <div class="row">
      <div class="col-xs-4">Name:</div>
      <div class="col-xs-8"><strong>{{cardName}}</strong></div>
    </div>
    <div class="row">
      <div class="col-xs-4">Address:</div>
      <div class="col-xs-8"><strong>{{address1}}</strong></div>
    </div>
    <div class="row">
      <div class="col-xs-4">Address 2:</div>
      <div class="col-xs-8"><strong>{{address2}}</strong></div>
    </div>
    <div class="row">
      <div class="col-xs-4">City:</div>
      <div class="col-xs-8"><strong>{{cityName}}</strong></div>
    </div>
    <div class="row">
      <div class="col-xs-4">State:</div>
      <div class="col-xs-8"><strong>{{stateName}}</strong></div>
    </div>
    <div class="row">
      <div class="col-xs-4">Zip Code:</div>
      <div class="col-xs-8"><strong>{{zipCode}}</strong></div>
    </div>
    <br />
    <div class="row">
      <div class="col-xs-12">
        <button type="button" class="btn btn-primary" value="Back" ng-click="paymentInfoReady = false; enterPaymentInfo = true">Back</button>
        <button type="button" class="btn btn-primary pull-right" value="Submit" ng-click="submitPayment()">Submit</button>
      </div>
    </div>

  </div>

  <div ng-show="paymentSubmitted === true">
    <div class="row col-xs-12"><h3>Payment submitted!</strong></h3></div>
    <div class="row col-xs-12"><h5>Thanks!  We'll let <strong>{{selectedUser.username}}</strong> know.</h5></div>
  </div>

</div>