<h1>Upload bill</h1>
<hr class="my-4">

<div>
    <h3>Add Tax and Tip</h3>
    <h4>Subtotal: ${{ subtotal }}</h4>
    <h4>Total: ${{ total }}</h4>
        <form class="row">
            <!-- <div class="form-group col-xs-12">
                <label class="col-form-label">Who is the bill from?</label>
                <input class="form-control" type="text" name="restaurant-name" ng-model="name" placeholder="Restaurant Name">
            </div> -->

            <!-- <div class="form-group col-xs-12 col-sm-12 col-md-6">
                <label class="col-form-label">Before tips</label>
                <input class="form-control" type="number" string-to-number step="any" name="priceBeforeTip" ng-model="priceBeforeTip" required>
            </div> -->

            <div class="form-group col-xs-12 col-sm-12 col-md-6">
                <label class="col-form-label">Tax</label>
                <input class="form-control" type="number" string-to-number step="any" name="displayTax" ng-model="displayTax" placeholder="$">
            </div>

            <div class="form-group col-xs-12">
                <label class="col-form-label">Tip rate or amount</label>
                <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <input class="form-control" type="number" string-to-number step="any" name="displayTipRate" ng-model="displayTipRate" placeholder="%" ng-change="updateTips('rate')">
                </div>            
                <div class="col-xs-12 col-sm-12 col-md-6">
                <input class="form-control" type="number" string-to-number step="any" name="displayTip" ng-model="displayTip" placeholder="$" ng-change="updateTips()">
                </div>
                </div>
                </div>
            </div>
           <!--  <div ng-if="readyToSplit" class="alert alert-success" role="alert">
                You successfully add the bill info.
            </div>
            <input ng-click="addbillinfo()" class="btn btn-primary pull-right" type="submit" value="Add bill info"> -->
        </form>
        
        <div class="spacer"></div>
        <hr class="my-4">


        <a class="btn btn-primary pull-left" href='/#!/additems'>Back</a>
        <a ng-if="readyToSplit" class="btn btn-primary pull-right" ng-click="addBill()" href="#!/split">Next</a>
<!-- the following is for uploading bill image -->
<!---->
<!-- a
        <img ng-if="$ctrl.image" src="{{$ctrl.image}}" alt="" class="billimg">
        <button ng-if="$ctrl.image" ng-click="$ctrl.removeimg()">{{$ctrl.cancel}}</button>
        <button ng-if="$ctrl.image" ng-click="$ctrl.process()" >{{$ctrl.next}}</button> 
-->

</div>