/* app css stylesheet */

body {
  background-color: rgba(255, 255, 255, 0);
}

.signonBG {
  background-image: url('https://1bk7xm3xz6cl1t7e5a1j641m-wpengine.netdna-ssl.com/wp-content/uploads/2015/07/41203414-wine-bottles-with-grape-leaves-on-wooden-background-with-copy-space.jpg');
  background-size: 100% cover;
  background-repeat: no-repeat;
  background-position: center;
}

.noSignonBG {
  background-image: none;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

.navbar {
  border-radius: 0px;
}

.navbar-brand {
  padding-top: 12px;
}

label {
	padding: 5px 15px 5px 5px;
}

table {
	margin-top: 25px;
	margin-bottom: 15px;
}

h3 {
	padding-top: 10px;
	padding-bottom: 10px;
}

.container {
	padding-left: 45px;
	padding-right: 45px;
}

.price-for-friend > li {
  display: inline;
}

li {
  list-style: none;
}

#signin, #signup{
  width: 400px;
}
.addHPadding {
  padding-left: 45px;
  padding-right: 45px;
}
.addVPadding {
  padding-top: 30px;
  padding-bottom: 30px;
}
.hcenter {
  margin-left:auto;
  margin-right:auto; 
}
.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.input-group {
  margin-top: 10px;
  margin-bottom: 10px;
}
.spacer {
  margin: 0;
  padding: 0;
  height: 44px;
}

.panel {
  margin-bottom: 20px;
  background-color: rgba(0,0,0,.5);
  border: 1px solid transparent;
  border-radius: 4px;
}

.panel-default>.panel-heading {
  background-image: none;
  color: #eee;
  background-color: rgba(46, 110, 165, 0.85);
}

.swap {
  color: #b5ddff;
}

.remove:hover {
  cursor: pointer;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.camera-input {
  padding-left: 14px;
  font-weight: normal;
  border-radius: 4px;
}

.camera-input:hover {
  cursor: pointer;
}

}
