<!DOCTYPE html>
  <html lang="en" ng-app="myApp" class="no-js" ng-class="{signonBG: signedIn !== true, noSignonBG: signedIn === true}"> <!--<![endif]--><!---->

    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>Divvy - Bill Splitter</title>
      <link rel="shortcut icon" type="image/x-icon" href="https://cdn3.iconfinder.com/data/icons/glypho-money-and-finance/64/money-dollar-circle-512.png" />

      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

      <!-- <link href="css/bootstrap.min.css" rel="stylesheet"> -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
      <link rel="stylesheet" href="app.css">
    </head>

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <!-- <link href="css/bootstrap.min.css" rel="stylesheet"> -->
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="app.css">

</head>

<body>
  <nav class="navbar navbar-default navbar-static-top navbar-inverse">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand vcenter" href="#!/bills"><img src='logo-hover.png' id='logo' /><span class="divvy vcenter">Divvy</span></a>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>  
        </button>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li ng-show="signedIn" ><a href="#!/addfriend" ng-click="newBill()">New Bill</a></li>
          <li ng-show="signedIn"><a href="#!/bills">My Bills</a></li>
          <li ng-show="signedIn"><a href="#!/pay">Pay User</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li ng-show="signedIn"><a ng-click='signout()' href="#!/signout">Sign out</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <div class="container" ng-view></div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/ng-file-upload/ng-file-upload-shim.js"></script>
  <script src="bower_components/ng-file-upload/ng-file-upload.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script src="bower_components/angular-middleware/dist/angular-middleware.min.js"></script>
  <script src="app.js"></script>
  <script src="services/services.js"></script>
  <script src="add-items/add-items.component.js"></script>
  <script src="upload-bill/upload-bill.component.js"></script>
  <script src="add-friend/add-friend.component.js"></script>
  <script src="split/split.component.js"></script>
  <script src="auth/auth.js"></script>
  <script src="user-details/bills.js"></script>
  <script src="payment/payment.component.js"></script>
  <script src="bower_components/slick-carousel/slick/slick.js"></script>
  <script src="bower_components/angular-slick-carousel/dist/angular-slick.min.js"></script>
</body>
</html>
